@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "IBM Plex Sans";
}

body {
    background: black;
}

*, html * {
    scrollbar-width: thin;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: #3c3d3d;
    border-radius: 5px;
    border: 3px solid rgb(20, 20, 20);
}



.header {
    padding: 10px 25px; 
    background: rgba(0, 0, 0, 0.553);
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 3 !important;
    position: absolute;
    top: 0;
}


.header-logo > h1 {
    color: #E8E8E8;
    font-family: "Iceland";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.burger-menu {
    padding: 0px 25px;
}

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99999999;
}
   
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}
   
.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 300px;
    right: -100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    text-align: right;
    border-left: 7px white solid;
    backdrop-filter: blur(16px);
}


   
.menu-item {
    display: flex;
    padding: 12px 24px;
    color: #6c6c6c;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    justify-content: right;
    padding-right: 30px;
    border-right: 4px #6c6c6c solid;
    margin-right: 20px;
    margin-top: 20px;
    transition: all .4s;
}

.menu-item:current {
    color: #ffffff;
}


.menu-item:hover {
    color: white;
    margin-right: 25px;
    border-right: 4px #ffffff solid;
}
     
#menu-toggle{
    opacity: 0;
}
   
#menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
    visibility: visible;
    right: 0;
}

.header-main {
    width: 100wv;
    height: 100vh;
    position: relative;
    z-index: -2;
    padding: 40px 100px;
    overflow: hidden;

}

#myVideo {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-info {
    max-width: 70%;
    z-index: 1; 
}

.main-info > h3 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "IBM Plex Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 240px;
}

.main-info > hr{
    margin-top: 20px;
}
